
@mixin breakpoints($breakpoint) {
    @if $breakpoint ==first {
        @media (max-width: 35) {
            @content;
        }
    }
    @if $breakpoint ==second {
        @media (min-width: 35rem) {
            @content;
        }
    }
    @if $breakpoint ==third {
        @media (min-width: 35rem) and (max-width: 45rem) {
            @content;
        }
    }
    @if $breakpoint ==forth {
        @media (min-width: 45) and (max-width: 55rem) {
            @content;
        }
    }
    @if $breakpoint ==fifth {
        @media (min-width: 45rem) {
            @content;
        }
    }
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}