@media (max-width: 35rem){
    .btn-name{
        display: none;
    }
}
@media (min-width: 35rem) and (max-width: 40rem) {
    
}

.edit-button, .delete-button{
    cursor: pointer;
    border: none;
    background: transparent;
}
.edit-button{
    color: blue;
}
.delete-button{
    color: red;
}