@media (max-width: 35rem){
    .btn-name{
        display: none;
    }
}
@media (min-width: 35rem) and (max-width: 40rem) {
    
}

.edit-button, .delete-button, .modal-btn-close {
    cursor: pointer;
    border: none;
    background: transparent;
}
.edit-button{
    color: blue;
}
.delete-button{
    color: red;
}

.nj-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .modal-btn-close {
        transform: translate(10px, -20px);
        padding: 0.5rem 0.7rem;
    }
    .nj-card{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: none;
        border-radius: 0.25rem;
        .nj-card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
            align-items: center;
            .nj-card-title {
                color: hsla(211, 100%, 50%, 1);
                margin-bottom: 0.75rem;
            }
            .nj-card-form, .nj-card-createform {
                display: flex;
                align-items: center;
                justify-content: center;
                .editForm, .createForm {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .nj-formLabelImput{
                        display: flex;
                        justify-items: center;
                        margin-right: auto;
                        width: 100%;
                        label{
                            position: relative;
                            width: 30%;
                        }
                        input{
                            position: relative;
                            width: 70%;
                        }
                    }
                    .modal-submit-btn {
                        font-size: 1rem;
                        border-radius: 0.6rem;
                        border-color: hsla(211, 100%, 50%, 1);
                        color:hsla(211, 100%, 60%, 1);
                        text-align: center;
                        text-decoration: none;
                        transition-duration: 0.4s;
                        background-color: transparent;
                    
                        &:hover {
                            cursor: pointer;
                            background-color: hsla(211, 100%, 50%, 1);
                            color: white;
                        }
                        &:not(:disabled) {
                            &:not(.disabled) {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}