{% extends "base.html" %}
{% load static %}
{% block cont %}
<div class="">
    <div class="tools">
        <a class="" href="{% url 'overseer:AddTeacher' %}"
            title="Add Class"><i class="fa fa-solid fa-plus"></i> Add Teacher
        </a>
        </a>
    </div>
    
    <div class="" id="teacherlist-warper">
    
    </div>
    <section class="nj-modal hidden" id="nj-modal">
        <div class="nj-card">
            <div class="flex">
                <h4 class=""></h4>
                <button class="modal-btn-close" id="modal-btn-close"onclick="closeEditeModal()"><i class="fa fa-light fa-circle-xmark"></i></button>
            </div>
            <div class="nj-card-body">
              <h3 class="nj-card-title" id="nj-card-title"></h3>
              <div class="nj-card-form" id="nj-card-form">
              
              </div>
            </div>
        </div>
    </section>
    <div class="overlay hidden"id="overlay"></div>
</div>

{% endblock cont %}
{% block scripts %}
<script src="{% static 'js/teacherCRUD.js'%}"></script>
{% endblock scripts %}