{% extends "base.html" %}
{% load static %}
{% block cont %}
<div class="">
    <div class="tools">
        <a class="" href="{% url 'overseer:AddTeacher' %}"
            title="Add Class"><i class="fa fa-solid fa-plus"></i> Add Teacher
        </a>
        </a>
    </div>
    
    <div class="" id="teacherlist-warper">
    
    </div>
    <section class="nj-modal hidden">
        <div class="flex">
            <h1 class="">Teacher</h1>
            <button class="modal-btn-close"><i class="fa fa-light fa-circle-xmark"></i></button>
        </div>
        <div>
          <h3>Stay in touch</h3>
          <p>
            This is a dummy newsletter form so don't bother trying to test it. Not
            that I expect you to, anyways. :)
          </p>
        </div>
    </section>
    <div class="overlay hidden"></div>
</div>

{% endblock cont %}
{% block scripts %}
<script src="{% static 'js/Nj.js'%}"></script>
{% endblock scripts %}